{% load static %}
<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Ксения Хабиб</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Description website">
    <meta name="keywords" content="website, with, meta, tags">
    <meta name="twitter:title" content="Title website">
    <link type="image/png" rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}">
    <link href="{% static 'assets/css/plugins/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/plugins/slick.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/plugins/ion.rangeSlider.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/plugins/magnific-popup.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/fonts/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'assets/fonts/flaticon/flaticon.css' %}" rel="stylesheet">
</head>

<body class="btn-style-2 btn-rounded sidebar-style-2" data-spy="scroll" data-target="#section-header" data-offset="90">
<!--header Start-->
<div id="section-header">
    <div class="sigma_aside-overlay aside-trigger-right">
    </div>
    <aside class="sigma_aside">
        <div class="sigma_close aside-trigger">
            <span></span>
            <span></span>
        </div>
        <div class="sigma_logo-wrapper">
            <a class="sigma_logo" href="index.html">
                ksenia_khabib
            </a>
        </div>
        <ul class="navbar-nav">
            <li class="menu-item">
                <a href="#about_me" class="nav-link">Обо мне</a>
            </li>
            <li class="menu-item">
                <a href="#section-services" class="nav-link">Все тренировки</a>
            </li>
            <li class="menu-item">
                <a href="#section-result" class="nav-link">Результаты</a>
            </li>
            <li class="menu-item">
                <a href="#feedback" class="nav-link">Контакты</a>
            </li>
        </ul>
    </aside>
    <div class="sigma_aside-overlay aside-trigger">
    </div>
    <header class="sigma_header sigma_header-absolute style-1 can-sticky">
        <div class="sigma_header-middle">
            <div class="container-fluid">
                <div class="navbar">
                    <div class="sigma_logo-wrapper">
                        <a class="sigma_logo" href="index.html">
                            ksenia_khabib
                        </a>
                    </div>
                    <ul class="navbar-nav">
                        <li class="menu-item">
                            <a href="#about_me" class="nav-link">Обо мне</a>
                        </li>
                        <li class="menu-item">
                            <a href="#section-services" class="nav-link">Все тренировки</a>
                        </li>
                        <li class="menu-item">
                            <a href="#section-result" class="nav-link">Результаты</a>
                        </li>
                        <li class="menu-item">
                            <a href="#feedback" class="nav-link">Контакты</a>
                        </li>
                    </ul>
                    <div class="sigma_header-controls style-1 d-block d-md-none">
                        <ul class="sigma_header-controls-inner">
                            <li class="aside-toggle aside-trigger-right desktop-toggler">
                                <span></span>
                                <span></span>
                                <span></span>
                            </li>
                            <li class="aside-toggle aside-trigger">
                                <span></span>
                                <span></span>
                                <span></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--header End-->
</div>
<div class="custom_modal_wrapper d-none">
    <div class="custom_modal">
        <i class="fas fa-times"></i>
        <h3><span>Бесплатный</span> гайд по питанию</h3>
        <img src="{% static '/assets/img/eat.jpg' %}" alt="img">
        <div class="banner-links d-flex align-items-center">
            <a href="{% static '/assets/eat.pdf' %}" download class="sigma_btn eat_btn_modal">Скачать гайд <i
                    class="fas fa-download"></i></a>
        </div>
    </div>
</div>
<!--hero Start-->
<div id="section-hero">
    <div class="sigma_banner light-bg style-8">
        <div class="banner-slider-inner">
            <div class="sigma_banner-text">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <!-- <h5 class="primary-color">Real Time For Fitness</h5> -->
                            <h1 class="title">Привет, я Ксения</h1>
                            <p>-Хочешь здоровое и красивое тело? <br> -Бархатную кожу и сияющий взгляд? <br> -Бодрость
                                каждое утро и здоровый , полноценный сон.
                                <br> <span>-Это не мечта , это реальность.</span>
                            </p>
                            <p class="hero_sale">Осеннее <span>спец предложение</span> до конца ноября.
                                Программа питания для ПОДНЯТИЯ ИМУННИТЕТА со скидкой 50% <img
                                        src="{% static 'assets/img/sale.png' %}" alt="img"></p>
                            <div class="banner-links d-flex align-items-center">
                                <a href="#section-services" class="sigma_btn light">Программы</a>
                                <a href="#section-result" class="sigma_btn ml-4">Результаты</a>
                            </div>
                            <div class="banner-links d-flex align-items-center">
                                <a href="{% static '/assets/eat.pdf' %}" download class="sigma_btn eat_btn">Скачать
                                    бесплатный
                                    гайд</a>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="sigma_banner-image mt-5 mt-lg-0">
                                <img src="{% static 'assets/img/me_1.jpg' %}" alt="img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--hero End-->
</div>
<!--preloader Start-->
<div id="section-preloader">
    <div class="sigma_preloader sigma_preloader-gear">
        <div class="sigma_preloader-inner">
            <div class="preloader-gear">
                <div class="preloader-gear-inner">
                    <div>
                        <div>
                        </div>
                        <div>
                        </div>
                        <div>
                        </div>
                        <div>
                        </div>
                        <div>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--preloader End-->
</div>

<div id="section-about">
    <div class="section bg-secondary-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 order-1 order-lg-1">
                    <div class="sigma_about style-17" id="about_me">
                        <div class="sigma_about-image-1">
                            <img src="{% static 'assets/img/me_2.jpg' %}" alt="img">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 order-2 order-lg-2">
                    <div class="sigma_about style-17 mt-5 mt-lg-0">
                        <div class="section-title">
                            <span class="subtitle">О себе</span>
                            <h3 class="title text-white">Образование</h3>
                        </div>
                        <div class="sigma_about-content">
                            <div class="sigma_general-list style-3">
                                <ul>
                                    <li>
                                        <i class="far fa-check"></i>
                                        <span>16.02.2016 года получила диплом инструктора групповых програм в фитнес школе Варвары Медведевой                       </span>
                                    </li>
                                    <li>
                                        <i class="far fa-check"></i>
                                        <span>25.05.2018 получила диплом о профессиональной переподготовке в Учебном центре «Лайф» , инструктор тренажерного зала и персональный фитнес тренер
                        фитнес кол
                        </span>
                                    </li>
                                    <li>
                                        <i class="far fa-check"></i>
                                        <span>09.02.2021 получила диплом об окончании курса «диетология»в Санкт -Петербургской Школе Красоты</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--about End-->
</div>
<!--services Start-->
<div id="section-services" id="section-services">
    <div class="section section-padding bg-cover bg-center dark-overlay"
         style="background-image: url({% static 'assets/img/home-1/1920x800.jpg' %})">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="sigma_service style-9 dark">
                        <span>01</span>
                        <i class="flaticon-diet is_flaticon"></i>
                        <div class="sigma_service-body">
                            <img class="sale_img" src="{% static 'assets/img/sale.png' %}" alt="img">
                            <h5>
                                <a href="#feedback" class="service_type_btn" data-name="nutrition">Питание</a>

                            </h5>
                            <p>-Для снижения жировой прослойки <br>
                                -Для набора мышечной массы <br>
                                -Для оздоровления<br>
                                -Для поднятия иммунитета
                            </p>
                            <a href="#feedback" class="service_type_btn btn-link secondary-color" data-name="Питание">

                                Получить

                                <i class="far fa-angle-right"></i>

                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="sigma_service style-9 dark">
                        <span>02</span>
                        <i class="flaticon-yoga is_flaticon"></i>
                        <div class="sigma_service-body">
                            <h5>

                                <a href="#feedback" class="service_type_btn" data-name="traning">Тренировки</a>

                            </h5>
                            <p>-Для снижения жировой прослойки ( зал , дом) <br>
                                -Для набора мышечной массы( зал , дом ) <br>
                                -Для оздоровления
                            </p>
                            <a href="#feedback" class="service_type_btn btn-link secondary-color"
                               data-name="Тренировки">

                                Получить

                                <i class="far fa-angle-right"></i>

                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="sigma_service style-9 dark">
                        <span>03</span>
                        <div class="kompleks_icons"><i class="flaticon-barbell is_flaticon"></i>
                            <p>+</p>
                            <i class="flaticon-diet is_flaticon"></i></div>

                        <div class="sigma_service-body">
                            <h5>

                                <a href="#feedback" class="service_type_btn" data-name="kompleks">Комплекс</a>

                            </h5>
                            <p>По моей системе питания и тренировок вся твоя дисциплина будет проходить в удовольствие!
                            </p>
                            <a href="#feedback" class="service_type_btn btn-link secondary-color" data-name="Комплекс">

                                Получить

                                <i class="far fa-angle-right"></i>

                            </a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<section class="section-result" id="section-result">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Результаты</h3>
                <!-- Swiper -->
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide"><img src="{% static 'assets/img/result_10.jpg' %}" alt=""
                                                       class="result_slide">
                        </div>
                        <div class="swiper-slide"><img src="{% static 'assets/img/result_1.jpg' %}" alt=""
                                                       class="result_slide">
                        </div>
                        <div class="swiper-slide"><img src="{% static 'assets/img/result_3.jpg' %}" alt=""
                                                       class="result_slide">
                        </div>
                        <div class="swiper-slide"><img src="{% static 'assets/img/result_4.jpg' %}" alt=""
                                                       class="result_slide">
                        </div>
                        <div class="swiper-slide"><img src="{% static 'assets/img/result_5.jpg' %}" alt=""
                                                       class="result_slide">
                        </div>
                        <div class="swiper-slide"><img src="{% static 'assets/img/result_6.jpg' %}" alt=""
                                                       class="result_slide">
                        </div>
                        <div class="swiper-slide"><img src="{% static 'assets/img/result_7.jpg' %}" alt=""
                                                       class="result_slide">
                        </div>
                        <div class="swiper-slide"><img src="{% static 'assets/img/result_8.jpg' %}" alt=""
                                                       class="result_slide">
                        </div>
                        <div class="swiper-slide"><img src="{% static 'assets/img/result_9.jpg' %}" alt=""
                                                       class="result_slide">
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="section-contact-form">
    <div class="section">
        <h3>Связаться со мной</h3>
        <div class="sigma_form style-2">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-10">
                        <form class="mf_form_validate ajax_submit" method="post" action="{% url 'application' %}"
                              id="feedback">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Имя</label>
                                        <input type="text" name="name">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Телефон</label>
                                        <div class="input-group">
                                            <input type="tel" class="form-control" placeholder="Введите номер телефона"
                                                   aria-label="Telephone" aria-describedby="input_tel" data-tel-input
                                                   name="phone">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" name="email" placeholder="Email">
                                        <input type="hidden" id="service_type" value="Не выбрал продукт"
                                               name="type_product">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit">Отправить</button>
                                    <div class="server_response w-100">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="{% static 'assets/js/plugins/jquery-3.4.1.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/plugins/popper.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/plugins/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/plugins/jquery.instagramFeed.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/plugins/slick.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/plugins/imagesloaded.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/plugins/isotope.pkgd.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/plugins/jquery.magnific-popup.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/plugins/jquery.counterup.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/plugins/jquery.inview.min.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/plugins/ion.rangeSlider.min.js' %}" type="text/javascript"></script>
{#<script src="{% static 'assets/js/plugins/jquery.validate.min.js' %}" type="text/javascript"></script>#}
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script>
</script>
<script src="{% static 'assets/js/main.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/functions/mf_form.js' %}" type="text/javascript"></script>
<script src="{% static 'assets/js/phoneinput.js' %}"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 10,
        loop: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
        breakpoints: {
            300: {
                slidesPerView: 1,
                spaceBetween: 20,
            },
            600: {
                slidesPerView: 3,
                spaceBetween: 20,
            },
        }
    });
</script>
</body>

</html>
